In [15]:
import pandas as pd
import requests
import numpy as np

In [3]:
pd.__version__

'1.5.3'

#### I. Load Data

In [3]:
'''
url = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet"
filename = "yellow_tripdata_2021-01.parquet"

with requests.get(url, stream=True) as r:
    r.raise_for_status()  # Raise an exception for error status codes
    with open(filename, 'wb') as f:
        for chunk in r.iter_content(chunk_size=8192):  # Download in chunks
            f.write(chunk)
'''

In [12]:
taxi_data = pd.read_parquet('yellow_tripdata_2021-01.parquet')

In [13]:
taxi_data.shape

(1369769, 19)

In [16]:
chunksize = 100000  # Adjust as needed
chunks = np.array_split(taxi_data, chunksize)

#### II. Connect to Postgres DB

In [6]:
from sqlalchemy import create_engine

In [7]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [27]:
##create table statement (proxied below by inserting columns only)
print(pd.io.sql.get_schema(taxi_data, "yellow_taxi_data"))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" REAL
)

In [26]:
#create (and delete existing) table statement:
chunks[0].head(0).to_sql("yellow_taxi_data", con=engine, if_exists="replace")

0

In [28]:
for chunk in chunks:
    chunk.to_sql("yellow_taxi_data", con=engine, if_exists="append", index=False, method="multi")

CPU times: total: 0 ns
Wall time: 0 ns